In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
url = "https://worldpopulationreview.com/country-rankings/best-healthcare-in-the-world"

headers = {
    "User-Agent": "Mozilla/5.0 (compatible; JosephHealthBudgetScraper/1.0; +https://github.com/youngjon2001)"
}

page = requests.get(url, headers=headers)
time.sleep(1)  # be kind to servers

In [3]:
soup = BeautifulSoup(page.text, "html.parser")

In [4]:
table = soup.find("table")

df = pd.read_html(str(table))[0]

print(df.head())

   Unnamed: 0      Country  Health Care Index (CEOWorld) 2024â  \
0         NaN       Taiwan                                  78.7
1         NaN  South Korea                                  77.7
2         NaN    Australia                                  74.1
3         NaN       Canada                                  71.3
4         NaN       Sweden                                  70.7

   Health Care Index (Numbeo) 2024  Health Care Exp Index (Numbeo) 2024
0                             86.4                                159.0
1                             83.0                                152.0
2                             73.1                                133.0
3                             69.1                                127.0
4                             68.3                                125.0

/tmp/ipykernel_13/2833324831.py:3: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [5]:
df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,Country,Health Care Index (CEOWorld) 2024â,Health Care Index (Numbeo) 2024,Health Care Exp Index (Numbeo) 2024
0,NaN,Taiwan,78.7,86.4,159.0
1,NaN,South Korea,77.7,83.0,152.0
2,NaN,Australia,74.1,73.1,133.0
3,NaN,Canada,71.3,69.1,127.0
4,NaN,Sweden,70.7,68.3,125.0
...,...,...,...,...,...
123,NaN,Paraguay,21.9,NaN,NaN
124,NaN,Nepal,21.4,57.2,101.0
125,NaN,Honduras,19.6,NaN,NaN
126,NaN,El Salvador,18.6,NaN,NaN
127,NaN,Trinidad and Tobago,NaN,54.1,100.0

In [6]:
 df.columns

Index(['Unnamed: 0', 'Country', 'Health Care Index (CEOWorld) 2024â',
       'Health Care Index (Numbeo) 2024',
       'Health Care Exp Index (Numbeo) 2024'],
      dtype='object')

In [7]:
df = df.drop(columns=["Unnamed: 0"])

In [8]:
df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Country,Health Care Index (CEOWorld) 2024â,Health Care Index (Numbeo) 2024,Health Care Exp Index (Numbeo) 2024
0,Taiwan,78.7,86.4,159.0
1,South Korea,77.7,83.0,152.0
2,Australia,74.1,73.1,133.0
3,Canada,71.3,69.1,127.0
4,Sweden,70.7,68.3,125.0
...,...,...,...,...
123,Paraguay,21.9,NaN,NaN
124,Nepal,21.4,57.2,101.0
125,Honduras,19.6,NaN,NaN
126,El Salvador,18.6,NaN,NaN
127,Trinidad and Tobago,NaN,54.1,100.0